@font-face {
  font-family: "GangsterGrotesk";
  src: url(./fonts/GangsterGrotesk-Regular.otf);
}

@font-face {
  font-family: "GangsterGrotesk-bold";
  src: url(./fonts/GangsterGrotesk-Bold.otf);
}

@font-face {
  font-family: "GangsterGrotesk-light";
  src: url(./fonts/GangsterGrotesk-Light.otf);
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;

  font-family: "GangsterGrotesk";
  background-color: #f8f8f8;
  color: #15162a;
}
