.search-bar {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  color: #333333;
  background-color: #e2e2e2;
  border-radius: 10px;

  padding: 10px 20px;
  margin: 50px auto;
}

input[type='text'] {
  width: 80%;

  font-size: inherit;
  color: inherit;
  background-color: transparent;

  padding-left: 5px;
}

.fa-x {
  opacity: 1;
  color: #15162a;

  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.fa-x:hover {
  transform: scale(1.2);
}

.fa-x:active {
  opacity: 0;
  transform: scale(0.5);
}

@media screen and (max-width: 550px) {
  .search-bar {
    margin: 20px 0;
  }
}